@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    row-gap: 40px;
}

.page {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

header {
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    border-bottom: 5px rgba(255, 255, 255, 0.5) double;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.header__title {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    align-self: center;
}

.header__date {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    align-self: center;
    text-align: center;
}

.header__form_date-label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 100;
}

.header__form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
    align-items: center;
}

.header__form_input {
    width: 200px;
    font-size: 1.3em;
    color: whitesmoke;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

.header__form_input:focus {
    outline: none;
}

.header__form_button {
    width: 200px;
    font-size: 1.3em;
    color: whitesmoke;
    background-color: transparent;
    border: 1px white solid;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    transition: all 0.2s ease;
}

.header__form_button:hover, .header__form_button:focus {
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
}

.back-img {
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: black;
}

.back-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.figure__img-of-day {
    width: 500px;
    height: 500px;
    padding: 0;
    margin: 0;
    position: relative;
}

.figure__img-of-day > img, .figure__img-of-day > iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    position: absolute;
    display: none;
}

.figure__img-of-day>img.active,
.figure__img-of-day>iframe.active {
    display: block;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content__text-container {
    max-width: 700px;
    text-align: center;
}

.content__title {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 3.5em;
}

.content__description {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
}

.content__error {
    display: none;
}

.content__info {
    display: none;
}

.content__error, .content-connection-error {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
}

.content__spinner {
    width: 100px;
    height: 100px;
    margin: 50px;
    border: 2px solid white;
    border-top: none;
    border-left: none;
    border-radius: 50%;
    animation: 1s linear 0s normal none infinite running rot;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}