@font-face {
    font-family: "GraphikR"; 
    src: url("../fonts/Graphik-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "GraphikM"; 
    src: url("../fonts/Graphik-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "GraphikL"; 
    src: url("../fonts/Graphik-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

figure {
    margin: 0;
}

.no-margin {
    margin: 0!important;
}

body, p {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

.page {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

header {
    position: relative;
    max-height: 100vh;
    width: 100%;
}

header > figure {
    background: #322222;
    clip-path: polygon(100% 0%, 0% 0%, 0 75%, 50% 100%, 100% 75%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

figure img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    height: 155px;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding: 0;
    margin: 0;
}

nav {
    font-family: 'GraphikR';
    font-weight: 400;
    font-size: 17px;
}

.nav-link {
    color: white;
    text-decoration: none;
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0px 10px;
    outline: none;
}

.nav-link.active {
    font-size: 20px;
    text-decoration: underline;
}

.nav-link:hover, .nav-link:focus {
    background-color: rgba(255, 255, 255, 0.25);
    transition: all 0.2s ease;
}

.nav-center {
    width: 100%;
    align-items: center;
    position: absolute;
    height: 155px;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.header-content {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-width: 500px;
    align-items: center;
}

.header-content * {
    margin: 0;
    color: white;
}

.header-content h1 {
    font-family: 'GraphikM';
    font-weight: 700;
    font-size: 55px;
    line-height: 70px;
    text-align: center;
}

.header-content h4 {
    font-family: 'GraphikL';
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;
    text-align: center;
}

.btn {
    margin: 50px 0px;
    color: white;
    font-family: 'GraphikR';
    display: block;
    padding: 0px 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    border-radius: 28px;
}

.btn:hover {
    transition: all 0.2s ease;
}

.btn:focus {
    transition: all 0.2s ease;
}

.btn-blue {
    background-color: rgb(32, 145, 249);
}

.btn-blue:hover {
    background-color: rgba(0, 122, 236);
}

.btn-blue:focus {
    background-color: rgb(0, 122, 236);
    box-shadow: 0px 0px 0px 5px rgba(32, 144, 249, 0.5);
}

h2 {
    font-family: 'GraphikR';
    font-weight: 400;
    font-size: 48px;
}

h4 {
    font-family: 'GraphikR';
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
}

h3 {
    font-family: 'GraphikR';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.page.page-vertical-center {
    align-items: center;
}

.page-1__content {
    display: grid;
    grid-template-columns: 1fr min-content;
    column-gap: 50px;
    align-items: center;
}

.page-2__content h2, .page-2__content h4 {
    text-align: center;
}

.page-2__cards {
    margin: 80px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 150px;
    text-align: center;
}

.text {
    font-family: 'GraphikR';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.page-2__video {
    display: flex;
    justify-content: center;
    position: relative;
    height: 455px;
    margin: 30px 0px;
}

.page-2__video video {
    position: absolute;
    width: 100%;
    border-radius: 30px;
    width: 800px;
    height: 450px;    
    box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.15);
    display: none;
}

.page-2__video video.active {
    display: block;
}

.page-2__video figure {
    z-index: 100;
    border-radius: 30px;
    width: 805px;
    height: 455px;
}

.page-2__video figure img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 30px;
    padding: 0px;
    box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.15);
}

.page-2__video-preview {
    position: relative;
    justify-content: center;
    align-items: center;
    display: none;
}

.page-2__video-preview.active {
    display: flex;
}

.page-2__video-preview-button {
    position: absolute;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: 999;
    padding: 0;
}

.page-3__content {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 100px;
    align-items: center;
}

.page-3__inpeut-place {
    width: 450px;
    display: grid;
    grid-template-columns: 1fr min-content;
    column-gap: 20px;
    padding: 40px 0px;
}

.inp {
    font-family: 'GraphikR';
    padding: 0px 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 28px;
    outline: none;
    border: 2px solid #E8E8E8;
    background: #F4F4F4;
}

.inp:focus {
    transition: all 0.2s ease;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.15);
}